@import 'utility';

html {
  @include full-height;
}

body {
  margin: 0;
  font-family: Gotham Thin;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #333;
  font-size: 11px;

  .logo {
    font-family: Bebas;
    color: #fff;
    font-size: 40px;
    letter-spacing: 3px;
  }

  .links {
    justify-content: space-around;

    a {
      text-decoration: none;
      margin: 20px;
      color: white;

      &:visited {
        color: white;
      }

      &:hover {
        color: rebeccapurple;
      }

      &:active {
        color: red;
      }
    }
  }
}xs

.Home {
  align-items: center;
  margin: auto;
}

.homeImage {
  background: url('http://tinyimg.io/i/OnDfH0R.jpg');
  height: 600px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  // span {
  //   color: #fff;
  //   font-size: 50px;
  //   opacity: 1;
  //   font-family: Bebas;
  //   margin-bottom: 200px;
  //   border: 5px solid #fff;
  //   padding: 20px;
  //   width: 450px;
  // }
}

.bodyh1 {
  // border-bottom: 1px solid #333;
}
.menuItems, h1, .contactBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menuBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuLinks {
  display: inline-block;
  justify-content: center;
  width: 300px;
  margin: auto;
  padding: 0;

  ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    }
  }


  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    margin: 0px;

    &:visited {
      color: darkblue;
    }

    &:hover {
      color: rebeccapurple;
    }

    &:active {
      color: red;
  }
}

.menuLinksList {
  padding: 0;
}

.spanTitle {
  font-family: Gotham;
  margin: 10px;
}

.singleItem {
  margin: 20px;
  display: flex;
  flex-direction: column;
}


.hoursBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}

.aboutGrid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: auto;

  .gridItem {
    align-self: stretch;
    height: 170px;
    width: 180px;
    margin: 10px;
  }
}
